.lines {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.line {
  height: 3px;
  width: 30px;
  background-color: #999;
  border-radius: 2px;
}
.underline {
    padding-bottom: 3px;
    border-bottom: 1px solid #c9c9c9;
}