.header {
  height: 80px;
  width: 100%;
  display: flex;
  padding: 30px 50px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bdbcbc;
}
.header__item-logo {
  width: 70px;
  cursor: pointer;
}
.header__item {
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 20px;
}
.header__item-icon {
  font-size: 1.6rem;
  padding: 0 5px;
  cursor: pointer;
}
.header__item-icon--bag {
  position: relative;
}
.header__bag-notify {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: red;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: Montserrat;
  border-radius: 100%;
  border-style: solid;
  border-color: red;
  border-width: 4px;
  line-height: 6px;
}

.container__sugges {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.container__sugges-text {
  font-size: 1rem;
  font-weight: 700;
  color: #3a3a3a;
  opacity: 0.7;
  margin: 0 auto;
}
.container__sugges-icon {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 40px;
}
.container__advertise {
  height: 768px;
  background-image: url(./img/advertise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .advertise-heading {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 100px;
}
.container .advertise-topic {
  color: #000;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}
.container .advertise-btns {
  display: flex;
  padding-top: 20px;
}
.container .advertise-btn {
  min-width: 184px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border: 0;
}
.container .advertise-btn:hover {
  opacity: 0.8;
}
.container .advertise--men {
  background-color: #000;
}
.container .advertise--women {
  background-color: #ff3030;
}
.container .advertise-lines {
  margin-top: 252px;
}
.container .advertise-line--active {
  background-color: #fff;
}
.container__sales {
  display: flex;
  width: 1168px;
  height: 580px;
  margin: 84px auto;
  justify-content: center;
  position: relative;
  padding: 0 68px;
}
.container__sale-img {
  width: 500px;
  height: 500px;
}
.container__sale--img-1 {
  align-self: flex-start;
  margin-right: 18px;
}
.container__sale--img-2 {
  align-self: flex-end;
  margin-left: 18px;
}
.container__sale-content {
  padding: 32px 24px;
  position: absolute;
  height: 136px;
  width: 280px;
  background-color: #fff;
}
.container .sale-content-heading {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
}
.container .sale-content-body {
  font-weight: 700;
  font-size: 1rem;
}
.container .sale-content--img-2 {
  right: 4px;
  bottom: 0;
}
.container .sale-content--img-1 {
  left: 4px;
  top: 364px;
}
.container__trend {
  height: 460px;
  width: 1168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 84px;
}
.container .trend-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 28px;
}
.container .trend-line {
  background-color: #d4d3d3;
}
.container .trend-line-active {
  background-color: #000;
}
.container .trend-imgs {
  margin-top: 32px;
  display: flex;
  margin-right: -17px;
  position: relative;
}
.container .trend-img {
  width: 220px;
  height: 328px;
}
.container .trend-img-box {
  margin-right: 17px;
  position: relative;
}
.container .trend-info {
  position: relative;
  margin-top: 8px;
}
.container .trend-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #4b4b4b;
  display: inline-block;
  cursor: pointer;
  width: 80%;
  max-height: 14px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
.container .trend-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
}
.container .trend-value {
  font-size: 1.2rem;
  font-weight: 700;
  color: #5f5d5d;
}
.container .trend-arrow {
  position: absolute;
  right: -60px;
  top: 176px;
  font-size: 3rem;
  font-weight: 700;
}
.container .trend-img-watch {
  position: absolute;
  top: 288px;
  font-size: 1.8rem;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 0 8px;
  cursor: pointer;
  display: none;
  align-items: center;
}
.container .trend-watch-text {
  font-size: 1.2rem;
  font-weight: bold;
}
.container__limit {
  width: 1168px;
  display: flex;
  margin: 0 auto 80px auto;
}
.container__product {
  width: 1168px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px auto;
  align-items: center;
}
.container .product-options {
  display: flex;
}
.container .product-option {
  margin: 0 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #a5a5a5;
  cursor: pointer;
}
.container .product-option-active {
  color: black;
  padding-bottom: 3px;
  border-bottom: 2px solid #000;
}
.container .product-imgs {
  margin-top: 56px;
}
.container .product-img-box {
  position: relative;
}
.container .product__advs-info {
  position: absolute;
  top: 0;
  margin: 16px;
}
.container .product__adv-info {
  width: 48px;
  height: 24px;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 600;
}
.container .product__adv-info--hot {
  background-color: #ff3030;
}
.container .product__adv-info--sale, .container .product__adv-info--new {
  background-color: #8ec73d;
}
.container .product-footer {
  margin-top: 60px;
  font-size: 0.9rem;
  font-weight: 750;
  color: #0e0e0e;
}
.container__blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/background-arrivals.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.container .blog-line-active {
  background-color: #000;
}
.container .blog-body {
  display: flex;
  width: 1168px;
  margin-top: 32px;
  justify-content: space-between;
}
.container .blog-body-box {
  position: relative;
}
.container .blog-box-img {
  width: 572px;
  height: 380px;
}
.container .blog-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 68px;
}
.container .blog-content-heading {
  max-width: 400px;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 700;
  color: #000;
  margin-bottom: 28px;
}
.container .blog-content-direction {
  font-size: 1.3rem;
  opacity: 0.2;
  font-weight: bold;
}
.container .blog-content-direction > span {
  border-right: 1px solid #000;
  padding-right: 2px;
}
.container .blog-item {
  position: absolute;
  top: 350px;
  left: 255px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .blog-item-icon {
  background-color: #fff;
  border-radius: 100%;
  padding: 20px;
  font-size: 2rem;
  margin-bottom: 16px;
  color: #bdbdbd;
}
.container .blog-item-text {
  font-size: 1.2rem;
  font-weight: 600;
}
.container__ins {
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
  align-items: center;
}
.container .ins-direction {
  font-size: 1rem;
  font-weight: 700;
  color: #626262;
}
.container .ins-imgs {
  margin: 64px 0;
  display: flex;
  width: 1920px;
}
.container .ins-img {
  width: 16.6666666667%;
  height: 320px;
}
.container__infos {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.container .infos-box {
  display: flex;
  width: 1168px;
  justify-content: space-between;
}
.container .infos-info {
  width: 272px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c9c9c9;
  cursor: pointer;
}
.container .infos-info-icon {
  font-size: 2.3rem;
  font-weight: 1000;
  margin-right: 16px;
}
.container .infos-info-text {
  font-size: 1.3rem;
  font-weight: 800;
  opacity: 0.7;
}

.footer__email {
  height: 76px;
  width: 100%;
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: center;
}
.footer .email-content {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 16px;
}
.footer .email-content-sale {
  color: red;
}
.footer .email-input {
  padding: 16px;
  width: 228px;
  height: 28px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  margin-right: 16px;
}
.footer .email-btn {
  height: 28px;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  padding: 8px 32px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
