/* #region header*/
.header {
  height: var(--header);
  background-image: linear-gradient(0, #f63, #f43);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--header-navbar);
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 7px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.header__navbar-items {
  position: relative;
  font-size: 1.3rem;
  display: inline-block;
  color: var(--white-color);
  font-weight: 300;
  padding: 0 0.5rem;
  border-right: 2px solid hsla(0, 0%, 100%, 0.22);
}
.separator::after {
  content: "";
  /* position: absolute; */
  height: 12px;
  border-right: 2.3px solid var(--white-color);
  opacity: 0.4;
  transform: translate(8px, 0px);
}
.header__navbar-items:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.items-none {
  cursor: text;
  color: #fff;
}
.header__qr {
  width: 200px;
  position: absolute;
  padding-top: 5%;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.8s;
  background-color: #fff;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.header__qr-img {
  width: 100%;
}
.header__qr-apps {
  display: flex;
  justify-content: space-around;
}
.header__qr-app-img {
  height: 18px;
}
.header__navbar-items--showqr:hover .header__qr {
  display: block;
}
.showNotify:hover .header__notify {
  display: flex;
  animation: header__notify-fadeIn ease 0.3s;
}
.header__notify {
  width: 400px;
  position: absolute;
  top: 150%;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: top right;
  will-change: opacity, transform;
  display: none;
  flex-direction: column;
  z-index: 2;
  border-radius: 3px;
}

.header__notify-arrow {
  position: absolute;
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: 0%;
  transform: translateY(-100%);
  right: 13px;
}
.header__notify-bridge-hover-notify {
  position: absolute;
  display: block;
  right: 0;
  top: -15px;
  width: 90px;
  height: 15px;
}
@keyframes header__notify-fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  user-select: none;
}
.header__notify-header > h3 {
  color: #999;
  margin: 0;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 40px;
  margin-left: 12px;
}
.header__notify-list {
  padding-left: 0;
  overflow: auto;
  height: 400px;
}

.header__notify-item {
  background-color: #f8f0f0;
}

.header__notify-link {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
}

.header__notify-link:hover {
  background-color: #f8f8f8;
}
.header__notify-img {
  width: 48px;
}

.header__notify-info {
  flex: 1;
  margin-left: 10px;
}

.header__notify-name {
  color: var(--black-color);
  font-weight: 400;
  font-size: 1.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.header__notify-decription {
  color: var(--text-color);
  margin-top: 10px;
  font-size: 1.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.header__notify-footer {
  display: flex;
  height: 30px;
}
.header__notify-footer:hover {
  background-color: #f9f9f9;
}
.header__notify-footer-btn {
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

/* form */
.auth-form {
  width: 500px;
  /* overflow: hidden; */
  /* border-radius: 5px; */
}
.auth-form__container {
  padding: 0 10px;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px 30px 20px;
}
.auth-form__heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.5rem;
  color: var(--private-color);
  font-weight: 500;
  cursor: pointer;
}
.auth-form__form {
  margin: 5px;
}
.auth-form__input {
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 12px;
  font-size: 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  outline-color: #f43;
}
.auth-form__aside {
}
.auth-form__policy-text {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 80px;
  padding: 0 20px;
  text-align: center;
}
.auth-form__policy-link {
  color: var(--private-color);
  text-decoration: none;
}
.auth-form__control {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.auth-form__control--back {
}
.auth-form__socials {
  background-color: #ececec;
  /* background-color: var(--private-color); */
  padding: 8px 32px;
  display: flex;
}
.auth-form__socials-box {
  width: 40%;
  height: 30px;
  margin: auto;
  display: flex;
}
.social--with-link {
  width: 100%;
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px 10px 5px 10px;
}
.socials__icon {
  margin-right: 12px;
}
.social--with-link:hover {
  opacity: 0.8;
}
.social--with-link--facebook {
  background-color: rgb(61, 61, 255);
  border-color: rgb(61, 61, 255);
}
.social--with-link--google {
  background-color: white;
  border-color: white;
  color: var(--black-color);
}
.socials__icon.ti-facebook {
  color: rgb(61, 61, 255);
  border-style: solid;
  background-color: white;
  border-color: white;
  border-width: 4px 2px 0 4px;
  border-radius: 5px;
}
.socials__icon.ti-google {
  color: white;
  border-style: solid;
  background-color: rgb(204 55 50);
  border-color: rgb(204 55 50);
  border-width: 5px;
  border-radius: 100%;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  margin-bottom: 100px;
  margin-top: 10px;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
}
.auth-form__help--help {
  color: var(--text-color);
  opacity: 0.5;
}
.auth-form__help--pass {
  color: var(--private-color);
  font: weight 500;
}
.auth-form__help-separator {
  display: block;
  border-right: 1px solid rgb(185, 185, 185);
  margin: 0 10px;
}
.children {
  width: 100px;
  height: 100px;
  background-color: red;
}

/* header with search */
.header-with-search {
  height: var(--header-search);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 200px;
  padding-right: 40px;
  display: block;
  text-decoration: none;
  color: transparent;
}
.header__logo-img {
  cursor: pointer;
  width: 162px;
}
.header__back {
  text-decoration: none;
}
.header__back-icon {
  display: none;
}
.header__search {
  height: 40px;
  background-color: #fff;
  flex-grow: 1;
  border-radius: 3px;
}

.header__search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  height: 100%;
  position: relative;
}
.header__search-input {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 16px;
  border-radius: 3px;
}
.header__search-icon {
  background-color: var(--private-color);
  width: 60px;
  height: 34px;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
}
.header__search-icon:hover {
  opacity: 0.8;
}
.header__search-icon > i {
  margin: auto;
  font-size: 1.5rem;
  color: var(--white-color);
}
.header__search-suggest {
  display: flex;
  margin-top: 5px;
}
.header__search-suggest-link {
  text-decoration: none;
  color: var(--white-color);
  margin-right: 8px;
  font-size: 1rem;
  opacity: 0.8;
  white-space: nowrap;
  /* z-index: 0; */
}
.search_hints {
  position: absolute;
  top: 45px;
  left: 0;
  width: 90%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 1px 5px 0 rgb(145, 145, 145);
  display: none;
  border-radius: 3px;
  overflow: hidden;
}

.search_hint-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 8px 16px;
}
.search_hint-link:hover {
  background-color: rgb(228, 228, 228);
}
.search_hints-heading {
  padding: 0 16px;
  font-size: 1.3rem;
  opacity: 0.5;
  font-weight: 300;
}
.header__search-box:focus-within .search_hints {
  display: block;
}
/* 
cart 
*/
.header__cart {
  /* margin: 0 40px; */
  padding: 10px 40px;
  font-size: 3rem;
  position: relative;
}
.header__cart-icon {
  cursor: pointer;
  transform: scaleX(-1);
}
.ti-shopping-cart {
  color: #fff;
}
.header__cart:hover .header__cart-box {
  display: flex;
}
.header__cart-box {
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  max-height: 70vh;
  box-shadow: 0px 1px 7px rgb(209, 208, 208);
  display: none;
  background-color: #fff;
  border-radius: 3px;
  transform-origin: top right;
  animation: header__notify-fadeIn ease 0.2s;
  z-index: 1;
}
.header__cart-list {
  width: 100%;
  overflow: auto;
  flex-direction: column;
  /* direction: rtl; */
  display: flex;
}
.header__cart-arrow {
  position: absolute;
  top: -20px;
  right: 37px;
  border-width: 10px 15px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  cursor: pointer;
}
/* cart empty */
.header__cart-empty-img {
  margin: auto;
  display: block;
}
.header__cart-empty-footer {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.7;
  text-align: center;
  display: block;
}
.header__cart-list .header__cart-list--fill {
  display: none;
}
.header__cart-list.enable .header__cart-list--fill {
  display: block;
}
.header__cart-list.enable .header__cart-list--empty {
  display: none;
}

/*  */
/* cart */

.header__cart-notice {
  position: absolute;
  top: 5px;
  right: 30px;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  padding: 2px 5px;
  background-color: #fff;
  color: var(--private-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  display: none;
}
.header__cart-fill-heading {
  margin: 10px 10px;
  font-size: 1.4rem;
  opacity: 0.5;
}
.header__cart-items {
  display: flex;
  margin: 10px 0;
  max-height: 30vh;
  flex-direction: column;
  overflow-y: scroll;
  cursor: pointer;
}
.header__cart-item {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 12px;
  /* padding:5px; */
}
.header__cart-item:hover {
  background-color: rgb(247, 245, 245);
}
.header__cart-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.header__cart-item-description {
  display: flex;
  font-size: 1.2rem;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
}
.header__cart-item-heading {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
.header__cart-item-name {
  margin: 0;
  /* display: inline-block; */
  font-weight: 500;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__cart-value {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.header__cart-item-value {
  font-size: 1.3rem;
  color: var(--private-color);
  font-weight: 600;
  margin-right: 0px;
  margin-left: 5px;
  display: inline-block;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__cart-item-quantily {
  display: inline-block;
  max-width: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__cart-item-type {
  opacity: 0.6;
}
.header__cart-item-delete {
  font-size: 1.4rem;
  font-weight: 500;
}
.header__cart-item-delete:hover {
  cursor: pointer;
  color: var(--private-color);
}
.header__cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.header__cart-footer-label {
  font-size: 1.3rem;
  font-weight: 300;
  color: #bebebe;
}
.header__cart-footer-link {
  background-color: var(--private-color);
  color: var(--white-color);
  margin-bottom: 15px;
}
.header__cart-footer-link:hover {
  background-color: var(--private-color);
  color: var(--white-color);
  opacity: 0.8;
}
/*  */
.header__menu{
  display: none;
}

/* when login success */
.showNavbarUser:hover .header__navbar-user-box {
  display: flex;
}
.header__navbar-items.showNavbarUser {
  display: flex;
  align-items: center;
}
.header__navbar-user-avatar {
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.header__navbar-user-name {
  font-weight: 400;
  font-size: 1.3rem;
}
.header__navbar-user-box {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 150px;
  display: none;
  box-shadow: 0 1px 4px #999;
  z-index: 1;
  border-radius: 3px;
}
.header__navbar-user-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}
.header__navbar-user-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #fff;
  width: 100%;
  padding: 10px 10px;
}
.header__navbar-user-link:hover {
  background-color: rgb(247, 245, 245);
  color: #00bfa5;
}
.header__navbar-user-box-arrow {
  position: absolute;
  top: -20px;
  right: 30px;
  border: 0 solid #fff;
  border-width: 10px 15px;
  border-color: transparent transparent #fff transparent;
}
.header__navbar-user-box-bridge {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 100px;
  height: 10px;
}
/* header__sort-bar */

.header__sort-bar {
  position: fixed;
  top: var(--header);
  left: 0;
  right: 0;
  height: var(--header-sort-bar);
  background-color: #fff;
  display: none;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header__sort-item {
  width: calc(100% / 4);
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  position: relative;
}
.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  line-height: var(--header-sort-bar);
  font-size: 1.4rem;
}
.header__sort-item:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 0.1rem solid #e5e5e5;
  transform: translateY(-50%);
}
.header__sort-item:last-child {
  border: 0;
}
.header__sort-item.active .header__sort-link {
  color: var(--private-color);
}
/* #endregion */
/*  */
/* app container */
.app__container {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.app__content {
  padding-top: 36px;
}
.category {
  background-color: #fff;
}
.category__heading {
  font-size: 1.6rem;
  color: --var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
}
.category-item {
}
.category-item--active .category-item__link {
  margin-left: 8px;
  color: var(--private-color);
}
.category-item--active .category-item__link::before {
  content: "";
  border: 4px solid;
  border-color: transparent transparent transparent var(--private-color);
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.category-item__link {
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  padding: 6px 16px;
  display: block;
  color: var(--text-color);
  margin-left: 0;
  transition: margin-left 0.1s linear;
  position: relative;
}
.category-item__link:hover {
  margin-left: 8px;
  color: var(--private-color);
}
.home-product {
  margin-bottom: 50px;
}
.home-filter {
  display: flex;
  padding: 12px 22px;
  background-color: #ededed;
  border-radius: 2px;
  align-items: center;
}
.home-filter__label {
  color: #555555;
  font-size: 1.4rem;
  margin-right: 16px;
}
.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-num {
  font-size: 1.6rem;
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--private-color);
}
.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}
.home-filter__page-control {
  display: flex;
}
.home-filter__page-btn {
  text-decoration: none;
  color: var(--black-text);
  background-color: var(--white-color);
  min-width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 0 0 rgb(207, 207, 207);
}
.home-filter__page-btn--next {
  margin-right: 2px;
}
.home-filter__page-btn.disable {
  background-color: #f9f9f9;
  opacity: 0.5;
  cursor: default;
}
.home-product-item-link {
  text-decoration: none;
  color: transparent;
}
.home-product-item {
  background-color: #fff;
  margin-top: 10px;
  position: relative;
  padding-bottom: 10px;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
  border-radius: 3px;
}
.home-product-item:hover {
  box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border: 3px solid var(--private-color);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  opacity: 0.8;
  line-height: 1.8rem;
  margin: 10px 10px 0 10px;
  height: 3.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  margin: 10px 10px 0 10px;
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #0000008a;
  margin-right: 10px;
  text-decoration: line-through;
}

.home-product-item__price-current {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--private-color);
}

.home-product-item__action {
  display: flex;
  margin: 10px 10px 0 10px;

  justify-content: space-between;
}

.home-product-item__like {
  flex-grow: 1;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.home-product-item__like > i {
  cursor: pointer;
}
.home-product-item__like > i:nth-child(2) {
  display: none;
}
.home-product-item__like.enable > i:nth-child(1) {
  display: none;
}
.home-product-item__like.enable > i:nth-child(2) {
  display: block;
  color: var(--private-color);
}
.home-product-item__rating-gold {
  font-size: 0.7rem;
  color: #d3d3d3;
}
.home-product-item__rating-gold.vote {
  color: #ffce3d;
}
.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 8px;
}

.home-product-item__origin {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 10px;
}
.home-product-item__origin-name {
  font-size: 1rem;
  color: #999;
  font-weight: 200;
}
.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -5px;
  font-size: 1rem;
  color: var(--white-color);
  background-color: var(--private-color);
  line-height: 1.3rem;
  padding: 0 5px;
  /* border-radius: 2px; */
}
.home-product-item__favourite > i {
  font-size: 0.9rem;
  margin-right: 2px;
}
.home-product-item__favourite:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-top: 4px solid var(--private-color);
  border-left: 4px solid transparent;
  filter: brightness(60%);
}
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  min-height: 36px;
  text-align: center;
  background-color: rgba(255, 212, 36, 0.9);
}
.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent
    rgba(255, 212, 36, 0.9);
}
.home-product-item__sale-off-percent {
  display: block;
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 3px 0 2px;
}

.home-product-item__sale-off-label {
  display: block;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--white-color);
  margin-bottom: 1px;
}
/* footer */
.footer {
  padding-top: 20px;
  border-top: 4px solid var(--private-color);
}
.footer__heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #888888;
}
.footer-list {
  list-style: none;
  padding-left: 0;
}
.footer-item__link {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  color: #737373;
  font-size: 1.2rem;
  padding: 5px 0;
}
.footer-item__link:hover {
  color: var(--private-color);
}
.footer-list--pay {
  display: flex;
  justify-content: space-between;
}
.footer-list--pay i {
  font-size: 6rem;
}
.footer-item__socical {
  font-size: 2rem;
  margin-right: 5px;
}
.footer-item__link:hover .footer-item__socical.fa-facebook {
  color: #186dd3;
}
.footer-item__link:hover .footer-item__socical.fa-instagram-square {
  background: linear-gradient(#8a3ab9, #fbad50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-item__link:hover .footer-item__socical.fa-linkedin {
  color: #0a63bc;
}
.footer-list--dowload {
  display: flex;
}
.footer-item__img--qr {
  width: 40%;
  object-fit: contain;
  border: 1px solid rgb(204, 204, 204);
  margin-right: 9px;
}
.footer-item__app {
  align-self: center;
  width: 60%;
}
.footer-item__app img {
  /* width: 80%; */
  height: 25px;
  /* object-fit: contain; */
}
.footer__bottom {
  border-top: 1px solid rgb(204, 204, 204);
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  margin-top: 20px;
}
.footer-copyright {
  font-size: 1rem;
  color: #6f6f6f;
  margin: 0;
}
@media (max-width: 63.95em) {
}
