/* Mobile and table */
@media screen and (max-width: 1023px) {
  :root {
    --header-navbar: 0px;
  }
  .hide-on-mobile-tablet {
    display: none;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }
  .header__menu {
    display: block;
    /* margin-left: 5px; */
  }

  .app__container {
    margin-top: calc(var(--header) + var(--header-sort-bar));
  }
  .header__sort-bar {
    display: flex;
  }
  .header-with-search {
    padding-bottom: 0;
  }
  .header__back {
    display: block;
  }
}
/* tablet */
@media screen and (max-width: 740px) and (min-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}
/* mobile */
@media screen and (max-width: 739px) {
  :root {
    --header: 90px;
  }
  .hide-on-mobile {
    display: none;
  }
  .app__content {
    padding: 0 6px;
  }
  .pagination-item {
    margin: 6px;
  }
  .pagination-item-link {
    font-size: 1.5rem;
  }
  .header-with-search {
    margin-top: 17px;
  }
  .header__search {
    margin-left: 10px;
  }
}
